<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div align="center"><h1 th:text="${title}">Default Title</h1></div>

<div align="right"><a href="user/user-sign-in">Sign In</a></div>

<div align="center"><h3>Helping You Keep Track of Your Life!</h3></div>

<div align="center">

    <p align="center">Create Trackers</p>
    <p align="center">Create Lists</p>
    <p align="center">Organize with Calendars</p>

</div>


<div align="center"><a href="/user/add-user"><button type="button">Sign Up</button></a></div>
<div align="center"><p><i>"For Easy Life Assistance"</i></p></div>




</body>
</html>